# for and while loops
### for - step based loop
for i in range(10):
    print(i)
````
    -used for 
       -iterating over a sequence (list, tuple, string)
       -itreating over a rang
````
### while - condition based loop
i=0
while i < 10:
    print(i)
    i+= 1
````
    -used for
       -iterating until a condition is met
       -iterating until a condition is no longer met
       -iterating forever (if you don't break out of it)

In [6]:
movies = ['shrek', 'kungfu panda', 'final fantasy',
          'how to train your dragon', 'ice age', 'the lion king',
          'good dinosaur', 'the jungle book', 'the little princess', 'aladdin']

In [4]:
print(f'total movies = {len(movies)}')

total movies = 10

In [7]:
for movie in movies:
    print(movie)

shrek
kungfu panda
final fantasy
how to train your dragon
ice age
the lion king
good dinosaur
the jungle book
the little princess
aladdin

In [8]:
for movie in movies:
    print(movie,len(movie))

shrek 5
kungfu panda 12
final fantasy 13
how to train your dragon 24
ice age 7
the lion king 13
good dinosaur 13
the jungle book 15
the little princess 19
aladdin 7

In [11]:
for movie in movies:
    print(f'{movie:40} {len(movie)}')

shrek                                    5
kungfu panda                             12
final fantasy                            13
how to train your dragon                 24
ice age                                  7
the lion king                            13
good dinosaur                            13
the jungle book                          15
the little princess                      19
aladdin                                  7

In [17]:
nums = [5,12,13,24,7,13,13,15,19,7]
for i in nums:
    print(i, i**2)

5 25
12 144
13 169
24 576
7 49
13 169
13 169
15 225
19 361
7 49

In [19]:
for i in nums:
    if i % 2== 0:
        print(i, i**2)

12 144
24 576

In [20]:
sum(nums)

128

In [24]:
total_evens = 0
for i in nums:
    if i % 2 == 0:
        total_evens += i
print(total_evens)

36

In [26]:
for i in nums:
    print(i)
    if i> 20:
        break

5
12
13
24

In [30]:
x = ['apple','mango','banana','','orange','papaya']
for item in x:
    if len(item) ==0: 
       break
    print(item)

apple
mango
banana

In [31]:
errors = 0
while True:
    username= input('enter username:')
    password= input('enter password:')
    if username == 'adimn' and password== 'secrete':
        print('login successful')
        break
    elif errors == 3:
        print('Too many errors')
        break
    else:
        print('invalid username/password')
        errors += 1

login successful

In [3]:
x = [
    ['warbreaker', 4999], ['The way of king',5999], ['words of radians',5999], ['oathbring',5999],
    ['rhythm of war',5999],
]

In [4]:
for item in x:
    for data in item:
        print(data)
    print('---')

warbreaker
4999
---
The way of king
5999
---
words of radians
5999
---
oathbring
5999
---
rhythm of war
5999
---